body {
  background-color: #fc9c9ac1; 
}

.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 40px auto;
}

img {
  margin-top: 15px;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 7px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(35, 101, 79);
}

.container {
  display: flex;
  justify-content: center;
}

input {
  flex: 1;
  margin: 15px;
  padding: 8px;
  border-radius: 10px;
  border: #2fa151c1 2px solid;
  /* width: 60%; */
}

button {
  border-radius: 10px;
  font-size: 15px;
  border: none;
  width: 30%;
  font-family: 'Inter', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.add {
  background-color: #64b870c1; 
  margin-top: 13px;
  padding: 5px 17px;
}

.delete {
  background-color: #f35f5fc1; 
  margin-top: 5px;
  padding: 5px 13px;
}